/* reset */

* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

.debug {
    border: 1px solid black;
}

body {
    background-color: black;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-green {
    color: yellowgreen;
}


/* header */
header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    color: white;
}

nav, .view {
    margin: 5px;
    display: flex;
}

header i {
    font-size: 11px;
}

.speacker-view , .view {
    background-color: grey;
    padding: 4px 5px;
    border-radius: 5px;
    font-size: 10px;
    cursor: pointer;
}

.fa-grip {
    margin-right: 4px;
}

/* /header */


/* main  */

main {
    height: calc(100vh - 100px);
    margin-top: 50px;
}

.container-flex {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
}

.box {
    width: calc((100% / 7) - 10px);
    height: calc((100% / 5) - 10px);
    position: relative;
    min-width: 150px;
}

.box-image {
    width: 100%;
    height: 100%;
}

.box-image img {
    width: 100%;
    height: 100%;
}

.box:hover{
    transform: scale(1.3);
    transition: 0.5s;
    z-index: 2;
    cursor: pointer;
}

.box-nome {
    background-color: rgba(87, 82, 80, 0.5) ;
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    padding: 3px 5px;
    font-size: 10px;
}
/* /main */



/* footer */
footer {
    height: 50px;
    background-color: #808080;
    position: fixed;
    width: 100%;
    color: white;
}

.icona {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.icona i {
    font-size: 20px;
}

.foot-center {
    width: 80%;
}

.foot-right {
    height: 100%;
    text-align: center;
    line-height: 50px;
    background-color: lightgrey;
    color: red;
}